<div class="container">
  <h2>dashboard</h2>

  <p>
    Lorem ipsum dolor sit amet, quando labore salutatus quo in, inermis principes ei vel. Alii meis saepe quo ea, ad prima nullam perfecto eum. Ut aeterno reformidans eam. Ei persius vivendo prodesset ius.

    Te zril essent quodsi cum, has quidam labitur comprehensam id. Vim ad porro posidonium. Quo harum munere cu. Audiam civibus gloriatur his eu, rebum appareat splendide his eu, quo no eros augue tempor. Nam mundi offendit no, doming ocurreret conceptam ei has. Ex eum dicunt fastidii noluisse.
  </p>
</div>
