<div [ngSwitch]="currency == null || base == null" class="shadow p-0 my-3">
    <div class="d-flex justify-content-center py-5" *ngSwitchCase="true">
      <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div *ngSwitchCase="false">
      <div class="p-3 theme--background-default text-light">
        <div class="row">
          <div class="col-6 text-left"><h2 class="m-0 font-weight-light">{{currency ? currency.iso : "NA"}}</h2></div>
          <div class="col-6 text-right"><h2 class="m-0 font-weight-light">{{currency ? currency.exchange : "0.000"}}</h2></div>
        </div>
      </div>
      <div class="p-5">
        <div class="text-center">
          <span class="display-3 font-weight-light">{{currency ? currency.converted : "0.000"}}</span> <span class="text-muted font-weight-light">{{base ? base : "NA"}}</span>
        </div>
      </div>
</div>

