<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Forex Fun</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Currencies timeline
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">USD</a>
          <a class="dropdown-item" href="#">EUR</a>
          <div class="dropdown-divider"></div>
          <div class="p-2" style="min-width: 300px;">
            <form class="form-inline my-2 my-lg-0">
              <div class="col-9 px-0">
                <input class="form-control mr-sm-2 w-100" type="search" placeholder="Search" aria-label="Search">
              </div>
              <div class="col-3 px-0 pl-1">
                <button class="btn btn-outline-success my-2 my-sm-0 w-100" type="submit">src</button>
              </div>
            </form>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
